@import "_colors.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background: lightgray; }

h1, h2, h3, .overlay-link, button, .nav-link {
  font-family: "Roboto Slab";
  text-transform: uppercase;
  text-align: center;
  color: white; }

h1 {
  font-size: 2.2em;

  &.headline {
    font-size: 2.6em;
    font-weight: bold;
    padding: 5px;
  }
}

h3 {
  font-size: 1.3em;
  color: white; }

a {
  text-decoration: none;
}

p {
  color: white;
  font-family: Roboto;
  line-height: 1.3;
  text-align: left;
}