body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background: lightgray; }

h1, h2, h3, .overlay-link, button, .nav-link {
  font-family: "Roboto Slab";
  text-transform: uppercase;
  text-align: center;
  color: white; }

h1 {
  font-size: 2.2em; }
  h1.headline {
    font-size: 2.6em;
    font-weight: bold;
    padding: 5px; }

h3 {
  font-size: 1.3em;
  color: white; }

a {
  text-decoration: none; }

p {
  color: white;
  font-family: Roboto;
  line-height: 1.3;
  text-align: left; }

.navbar {
  z-index: 20000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }
  .navbar .fa {
    font-size: 2em;
    color: white;
    text-shadow: 1px 2px 2px #333;
    padding: 10px;
    cursor: pointer;
    transition: all 400ms ease-in-out; }
    .navbar .fa:hover {
      transform: rotate(-90deg); }
  .navbar .nav-button {
    position: relative;
    height: 30px;
    width: 30px;
    background: white;
    margin: 10px;
    cursor: pointer;
    transition: all 400ms ease-in-out; }
    .navbar .nav-button .nav-line {
      width: 5px;
      height: 100%;
      color: red; }
      .navbar .nav-button .nav-line.left {
        background: red;
        float: left; }
      .navbar .nav-button .nav-line.right {
        background: blue;
        float: right; }
      .navbar .nav-button .nav-line:hover .left {
        background: lime; }
  .navbar .nav-links {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px; }
    .navbar .nav-links .nav-link {
      margin-right: 10px;
      font-family: Roboto;
      cursor: pointer;
      transition: all 400ms;
      padding-bottom: 5px;
      border-bottom: 3px solid white;
      font-weight: bold; }
      .navbar .nav-links .nav-link:hover {
        color: lightgrey;
        border-color: lightgrey; }
    .navbar .nav-links .active-link {
      color: lightgrey;
      border-color: #524fff !important; }
  .navbar .nav-logo {
    position: fixed;
    bottom: 18px;
    right: 10px; }
    .navbar .nav-logo img {
      height: 30px; }

.overlay {
  z-index: 10000;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; }

.overlay-link {
  margin: 15px auto;
  padding-bottom: 10px;
  cursor: pointer;
  width: 250px;
  transition: all 250ms ease;
  border-bottom: 3px solid transparent;
  font-size: 1.25em;
  text-decoration: none;
  color: #333; }

.overlay-link:hover {
  border-color: #333; }

.main-section.half-size {
  height: 10vh !important; }

.main-section.home {
  background: url("https://firebasestorage.googleapis.com/v0/b/brenda-website.appspot.com/o/19197575_10209781557711358_825897358_o.jpg?alt=media&token=e206a910-0b30-4b69-9847-0c8ef9aa935f");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: "";
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply; }

.main-section.characters {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.cast {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.packages {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.book-party {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.gallery-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  height: auto; }

.content-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #378aff, #524fff);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  overflow: visible; }
  .content-section .content-body {
    float: right;
    width: 70%;
    padding: 10px 30px; }

.footer-section {
  background: linear-gradient(180deg, #378aff, #524fff);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50vh; }
  .footer-section .footer-content {
    text-align: right;
    padding-right: 10px; }
    .footer-section .footer-content p {
      text-align: right; }

body::-webkit-scrollbar {
  width: 1em; }

body::-webkit-scrollbar-track {
  background-color: darkgrey; }

body::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 1px solid slategrey; }

button {
  font-family: Roboto;
  font-size: 1.2em;
  padding: 12px 24px;
  border: 2px solid white;
  background: transparent;
  outline: none;
  cursor: pointer;
  margin: 5px;
  transition: 400ms all ease-in-out; }
  button:hover {
    background: lightgray;
    color: #333;
    border-color: lightgrey; }

.button-row {
  display: flex;
  justify-content: center;
  align-items: center; }

.logo-container {
  text-align: center; }
  .logo-container img {
    padding: 20px 0;
    margin: 0 auto;
    width: 80%; }

.parallax-container {
  height: 100vh;
  background-image: url(http://i.imgur.com/gp3e26O.jpg);
  background-color: rgba(0, 0, 0, 0.15);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }

.character-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #524fff; }
  .character-card:nth-of-type(1) {
    background: #524fff; }
  .character-card:nth-of-type(2) {
    background: #d82d2d; }
  .character-card:nth-of-type(3) {
    background: #7ddd4d; }
  .character-card:nth-of-type(4) {
    background: #e79e43; }
  .character-card.mobile {
    flex-direction: column; }
  .character-card .character-card-content {
    max-width: 400px;
    width: 100%;
    text-align: center; }
    .character-card .character-card-content h2 {
      padding-bottom: 10px;
      border-bottom: 2px solid white; }
    .character-card .character-card-content p {
      padding: 10px; }
  .character-card .character-card-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 30px;
    box-shadow: 6px 4px 0px white;
    background: grey; }

.card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 411px; }
  .card-row::-webkit-scrollbar-track {
    background: transparent !important; }
  .card-row::-webkit-scrollbar-thumb {
    background: #333 !important; }

.card {
  width: 400px;
  height: 300px;
  border: 1px solid white;
  margin: 5px;
  box-shadow: 0px 2px 3px black;
  overflow: hidden;
  background-size: 100% !important;
  position: relative; }
  .card .card-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    .card .card-content p {
      text-align: center; }
  .card.red {
    background: #d82d2d; }
  .card.darkred {
    background: #b02121; }
  .card.blue {
    background: #524fff; }
  .card.green {
    background: #00a950; }
  .card.limegreen {
    background: #7ddd4d; }
  .card.orange {
    background: #e79e43; }

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 5px auto; }
  .input-container h3 {
    font: 18px Roboto;
    text-transform: capitalize;
    margin: 0;
    background: #524fff;
    width: 150px;
    padding: 5.45px;
    border-bottom: 2px solid white; }
  .input-container input[type=text] {
    padding-left: 20px;
    height: 30px;
    width: 170px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font: 18px Roboto; }

.positioned-image {
  position: absolute;
  width: 30%;
  min-width: 450px; }
  .positioned-image.left {
    bottom: -100px;
    left: -30px;
    box-shadow: 10px 10px 1px #333; }
  .positioned-image.right {
    bottom: -70px;
    right: 0;
    box-shadow: -10px 8px 1px #333; }
  .positioned-image.half-size {
    width: 25%;
    min-width: 250px; }

.main-section.contact .card {
  border: none;
  box-shadow: none; }
