.card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 411px; }
  .card-row::-webkit-scrollbar-track {
    background: transparent !important; }
  .card-row::-webkit-scrollbar-thumb {
    background: #333 !important; }

.card {
  width: 400px;
  height: 300px;
  border: 1px solid white;
  margin: 5px;
  box-shadow: 0px 2px 3px black;
  overflow: hidden;
  background-size: 100% !important;
  position: relative; }
  .card .card-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .card .card-content p {
      text-align: center; }
  .card.red {
    background: #d82d2d; }
  .card.darkred {
    background: #b02121; }
  .card.blue {
    background: #524fff; }
  .card.green {
    background: #00a950; }
  .card.limegreen {
    background: #7ddd4d; }
  .card.orange {
    background: #e79e43; }
