@import "../helpers/media_queries.scss";
@import "../base/colors.scss";

.card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 411px;

  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background: #333 !important;
  }

}

.card {
  width: 400px;
  height: 300px;
  border: 1px solid white;
  margin: 5px;
  box-shadow: 0px 2px 3px black;
  overflow: hidden;

  background-size: 100% !important;

  position:relative;

  .card-content {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    h2 {

      //position: absolute;
      //top: -23px;
      //width:200px;
      //right: -67px;
      //margin: 0;
      //padding: 80px 0 0 0;
      //background: rgba(0,0,0,0.5);
      //text-align: center;
      //transform: rotate(45deg);

    }

    p {
      text-align: center;

    }
  }

  &.red { background: $red}
  &.darkred { background: $darkred}
  &.blue { background: $blue}
  &.green { background: $green}
  &.limegreen { background: $limegreen}
  &.orange { background: $orange}

}