.logo-container {

  text-align: center;

  img {
    //-ms-transform: rotate(7deg);
    //-webkit-transform: rotate(7deg);
    //transform: rotate(-12deg);
    padding: 20px 0;
    margin: 0 auto;

    width: 80%;
  }
}