.navbar {
  z-index: 20000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.navbar .fa {
  font-size: 2em;
  color: lightgrey;
  text-shadow: 1px 2px 2px #333;
  padding: 10px;
  cursor: pointer;
  transition: all 400ms ease-in-out; }

.navbar .fa:hover {
  transform: rotate(-90deg); }

.navbar .nav-button {
  height: 30px;
  width: 30px;
  border: 5px solid white;
  margin: 10px;
  cursor: pointer;
  transition: all 400ms ease-in-out; }

.navbar .nav-button:hover {
  transform: rotate(-90deg);
  border-color: black; }

.navbar .nav-links {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px; }

.navbar .nav-links .nav-link {
  margin-right: 10px;
  font-family: Roboto;
  cursor: pointer;
  transition: all 400ms;
  padding-bottom: 5px;
  border-bottom: 1px solid white; }

.navbar .nav-links .nav-link:hover {
  color: lightgrey;
  border-color: lightgrey; }

.navbar .nav-links .active-link {
  color: lightgrey;
  border-bottom: 1px solid #524fff !important; }

.navbar .nav-logo {
  position: fixed;
  bottom: 18px;
  right: 10px; }

.navbar .nav-logo img {
  height: 30px; }

.overlay {
  z-index: 10000;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; }

.overlay-link {
  margin: 15px auto;
  padding-bottom: 10px;
  cursor: pointer;
  width: 250px;
  transition: all 250ms ease;
  border-bottom: 3px solid transparent;
  font-size: 1.25em;
  text-decoration: none;
  color: #333; }

.overlay-link:hover {
  border-color: #333; }
