.main-section.half-size {
  height: 10vh !important; }

.main-section.home {
  background: url("https://firebasestorage.googleapis.com/v0/b/brenda-website.appspot.com/o/19197575_10209781557711358_825897358_o.jpg?alt=media&token=e206a910-0b30-4b69-9847-0c8ef9aa935f");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: "";
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply; }

.main-section.characters {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.cast {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.packages {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.book-party {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.gallery-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f46d4c, #e4505d);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  height: auto; }

.content-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #378aff, #524fff);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  overflow: visible; }
  .content-section .content-body {
    float: right;
    width: 70%;
    padding: 10px 30px; }

.footer-section {
  background: linear-gradient(180deg, #378aff, #524fff);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50vh; }
  .footer-section .footer-content {
    text-align: right;
    padding-right: 10px; }
    .footer-section .footer-content p {
      text-align: right; }
