.main-section.half-size {
  height: 10vh !important; }

.main-section.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/brenda-website.appspot.com/o/19197575_10209781557711358_825897358_o.jpg?alt=media&token=e206a910-0b30-4b69-9847-0c8ef9aa935f");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.characters {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://static.pexels.com/photos/1780/landscape-nature-clouds-cloudy.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.cast {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://static.pexels.com/photos/1780/landscape-nature-clouds-cloudy.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.packages {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://static.pexels.com/photos/1780/landscape-nature-clouds-cloudy.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.book-party {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://static.pexels.com/photos/1780/landscape-nature-clouds-cloudy.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/brenda-website.appspot.com/o/19197575_10209781557711358_825897358_o.jpg?alt=media&token=e206a910-0b30-4b69-9847-0c8ef9aa935f");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.gallery {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("http://wallpapercave.com/wp/3Qj8SxR.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative; }

.main-section.gallery-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("http://wallpapercave.com/wp/3Qj8SxR.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  position: relative;
  height: auto; }

.content-section .content-body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 30px; }

.footer-section {
  background: #524fff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; }
